<script src="__ADMIN__/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="__ADMIN__/js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="__ADMIN__/js/main.js" type="text/javascript" charset="utf-8"></script>
<script src="__ADMIN__/js/mdui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__ADMIN__/js/mdui.js" type="text/javascript" charset="utf-8"></script>
<script src="__ADMIN__/lib/echarts/echarts.js"></script>


<script type="text/javascript" src="__ADMIN__/lib/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__ADMIN__/lib/ueditor/ueditor.all.js"></script>












